{% extends 'base.html' %}

{% block content %}

<h2 style="color: white;">Add Book &#128394;</h2>
<form method="post" enctype="multipart/form-data"> <!-- Add enctype attribute -->
    {% csrf_token %}
    
    <div class="mb-3" style="color: white;">
      <label for="{{ form.title.id_for_label }}"style="color: white;"  class="form-label">Title</label>
      <input type="text" class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" style="background-color: white; color: black; border:2px solid brown" required>
    </div>
    <div class="mb-3" style="color: white;">
      <label for="{{ form.author.id_for_label }}" class="form-label">Author</label>
      <input type="text" class="form-control" id="{{ form.author.id_for_label }}" name="{{ form.author.html_name }}" style="background-color: white; color: black; border:2px solid brown" required>
    </div>
    <div class="mb-3" style="color: white;">
      <label for="{{ form.content.id_for_label }}" class="form-label">Content</label>
      <textarea class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" rows="5" style="background-color: white; color: black; border:2px solid brown" required></textarea>
    </div>
    <div class="mb-3" style="color: white;">
      <label for="{{ form.upload.id_for_label }}">Upload:</label>
      <input type="file" id="{{ form.upload.id_for_label }}" name="{{ form.upload.html_name }}" onchange="readFile(this);" >
      {% if form.upload.errors %}
        <div class="invalid-feedback">
          {{ form.upload.errors|join:", " }}
        </div>
      {% endif %}
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}

{% block extra_js %}
<script>
  function readFile(input) {
    if (input.files && input.files[0]) {
      const file = input.files[0];
      const fileExtension = file.name.split('.').pop().toLowerCase();

      if (fileExtension === 'txt') {
        const reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById('{{ form.content.id_for_label }}').value = e.target.result;
        }
        reader.readAsText(file);
      } else if (fileExtension === 'docx') {
        const reader = new FileReader();
        reader.onload = function(e) {
          const arrayBuffer = e.target.result;
          mammoth.extractRawText({arrayBuffer: arrayBuffer})
            .then(function(result) {
              document.getElementById('{{ form.content.id_for_label }}').value = result.value;
            })
            .catch(function(error) {console.error("Error: ", error);
            });
        }
        reader.readAsArrayBuffer(file);
      } else {
        alert('Unsupported file format. Only .txt and .docx files are allowed.');
      }
    }
  }
</script>
{% endblock %}
