{% extends 'base.html' %}

{% block content %}
<h1 style="color: white;">User Profiles &#128100;</h1>
<a href="{% url 'user_profile_create' %}" class="btn btn-primary mb-3" style="color: white;">Register User</a>
<table class="table table-striped" style="color: white;">
    <thead >
      <tr >
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr style="color: white;">
          <tr style="color: white;">
            <td style="color:white">{{ user.pk }}</td>
            <td style="color:white">{{ user.username }}</td>
            <td style="color:white">{{ user.email }}</td>
            <td >
            <a href="{% url 'user_profile_update' user.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'user_profile_delete' user.pk %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center" style="color: white;">No users found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
